	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/03/2016 01:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add118:before { content: "\f100"; }
.flaticon-agenda8:before { content: "\f101"; }
.flaticon-agreement1:before { content: "\f102"; }
.flaticon-arrow165:before { content: "\f103"; }
.flaticon-balance15:before { content: "\f104"; }
.flaticon-bald22:before { content: "\f105"; }
.flaticon-beach13:before { content: "\f106"; }
.flaticon-book:before { content: "\f107"; }
.flaticon-business133:before { content: "\f108"; }
.flaticon-businessman:before { content: "\f109"; }
.flaticon-businessman53:before { content: "\f10a"; }
.flaticon-businessman78:before { content: "\f10b"; }
.flaticon-businessmen10:before { content: "\f10c"; }
.flaticon-businessmen35:before { content: "\f10d"; }
.flaticon-calendar68:before { content: "\f10e"; }
.flaticon-categories:before { content: "\f10f"; }
.flaticon-clipboard105:before { content: "\f110"; }
.flaticon-cogwheel43:before { content: "\f111"; }
.flaticon-coin3:before { content: "\f112"; }
.flaticon-coins1:before { content: "\f113"; }
.flaticon-coins18:before { content: "\f114"; }
.flaticon-days:before { content: "\f115"; }
.flaticon-dollar9:before { content: "\f116"; }
.flaticon-draft1:before { content: "\f117"; }
.flaticon-file-sharing1:before { content: "\f118"; }
.flaticon-finance-and-business4:before { content: "\f119"; }
.flaticon-folder:before { content: "\f11a"; }
.flaticon-globe:before { content: "\f11b"; }
.flaticon-graduation:before { content: "\f11c"; }
.flaticon-help18:before { content: "\f11d"; }
.flaticon-hours:before { content: "\f11e"; }
.flaticon-justice4:before { content: "\f11f"; }
.flaticon-light-bulb53:before { content: "\f120"; }
.flaticon-money136:before { content: "\f121"; }
.flaticon-money184:before { content: "\f122"; }
.flaticon-money315:before { content: "\f123"; }
.flaticon-news2:before { content: "\f124"; }
.flaticon-newspaper1:before { content: "\f125"; }
.flaticon-people:before { content: "\f126"; }
.flaticon-people-1:before { content: "\f127"; }
.flaticon-person205:before { content: "\f128"; }
.flaticon-play:before { content: "\f129"; }
.flaticon-question30:before { content: "\f12a"; }
.flaticon-rest5:before { content: "\f12b"; }
.flaticon-retirement:before { content: "\f12c"; }
.flaticon-school:before { content: "\f12d"; }
.flaticon-settings6:before { content: "\f12e"; }
.flaticon-statistics:before { content: "\f12f"; }
.flaticon-stats9:before { content: "\f130"; }
.flaticon-summer44:before { content: "\f131"; }
.flaticon-three:before { content: "\f132"; }
.flaticon-turn20:before { content: "\f133"; }
.flaticon-us:before { content: "\f134"; }
.flaticon-worker37:before { content: "\f135"; }