//
// Demo Config
//




// State colors
$kt-state-colors: (
    // Metronic states
    brand: (
        base: #6239bd,
        inverse: #ffffff
    ),
    light: (
        base: #ffffff,
        inverse: #282a3c 
    ),
    dark: (
        base: #282a3c,
        inverse: #ffffff 
    ),
    
    // Bootstrap states
    primary: (
        base: #6239bd,
        inverse: #ffffff
    ),
    success: (
        base: #74c5da,
        inverse: #ffffff
    ),
    info: (
        base: #5578eb,
        inverse: #ffffff
    ),
    warning: (
        base: #ffb822,
        inverse: #111111
    ),
    danger: (
        base: #fd397a,
        inverse: #ffffff
    )    
);

// Layout
$kt-aside-default-width: 140px;
$kt-aside-minimize-width: 78px;
$kt-aside-offcanvas-width: 255px;

$kt-page-padding: (
	desktop: 25px,
	mobile: 15px
);

// Content bg color
$kt-content-bg-color: #f2f3f8;

// Aside bg color
$kt-aside-bg-color: #1e1e2d;