@font-face {
    font-family: 'BlueprintTwo';
    src: url("/fonts/blueprinttwo/flaticon.eot");
    src: url("/fonts/blueprinttwo/flaticon.eot#iefix") format("embedded-opentype"),
    url("/fonts/blueprinttwo/flaticon.ttf") format("truetype"),
    url("/fonts/blueprinttwo/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "blueprinttwo";
        src: url("/fonts/blueprinttwo/blueprinttwo.svg#blueprinttwo") format("svg");
    }
}

[class^="blueprinttwo-"]:before, [class*=" blueprinttwo-"]:before {
    font-family: blueprinttwo !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}

.blueprinttwo-add118:before {
    content: "\f100";
}

.blueprinttwo-agenda8:before {
    content: "\f101";
}

.blueprinttwo-agreement1:before {
    content: "\f102";
}

.blueprinttwo-arrow165:before {
    content: "\f103";
}

.blueprinttwo-balance15:before {
    content: "\f104";
}

.blueprinttwo-bald22:before {
    content: "\f105";
}

.blueprinttwo-beach13:before {
    content: "\f106";
}

.blueprinttwo-book:before {
    content: "\f107";
}

.blueprinttwo-business133:before {
    content: "\f108";
}

.blueprinttwo-businessman:before {
    content: "\f109";
}

.blueprinttwo-businessman53:before {
    content: "\f10a";
}

.blueprinttwo-businessman78:before {
    content: "\f10b";
}

.blueprinttwo-businessmen10:before {
    content: "\f10c";
}

.blueprinttwo-businessmen35:before {
    content: "\f10d";
}

.blueprinttwo-calendar68:before {
    content: "\f10e";
}

.blueprinttwo-categories:before {
    content: "\f10f";
}

.blueprinttwo-clipboard105:before {
    content: "\f110";
}

.blueprinttwo-cogwheel43:before {
    content: "\f111";
}

.blueprinttwo-coin3:before {
    content: "\f112";
}

.blueprinttwo-coins1:before {
    content: "\f113";
}

.blueprinttwo-coins18:before {
    content: "\f114";
}

.blueprinttwo-days:before {
    content: "\f115";
}

.blueprinttwo-dollar9:before {
    content: "\f116";
}

.blueprinttwo-draft1:before {
    content: "\f117";
}

.blueprinttwo-file-sharing1:before {
    content: "\f118";
}

.blueprinttwo-finance-and-business4:before {
    content: "\f119";
}

.blueprinttwo-folder:before {
    content: "\f11a";
}

.blueprinttwo-globe:before {
    content: "\f11b";
}

.blueprinttwo-graduation:before {
    content: "\f11c";
}

.blueprinttwo-help18:before {
    content: "\f11d";
}

.blueprinttwo-hours:before {
    content: "\f11e";
}

.blueprinttwo-justice4:before {
    content: "\f11f";
}

.blueprinttwo-light-bulb53:before {
    content: "\f120";
}

.blueprinttwo-money136:before {
    content: "\f121";
}

.blueprinttwo-money184:before {
    content: "\f122";
}

.blueprinttwo-money315:before {
    content: "\f123";
}

.blueprinttwo-news2:before {
    content: "\f124";
}

.blueprinttwo-newspaper1:before {
    content: "\f125";
}

.blueprinttwo-people:before {
    content: "\f126";
}

.blueprinttwo-people-1:before {
    content: "\f127";
}

.blueprinttwo-person205:before {
    content: "\f128";
}

.blueprinttwo-play:before {
    content: "\f129";
}

.blueprinttwo-question30:before {
    content: "\f12a";
}

.blueprinttwo-rest5:before {
    content: "\f12b";
}

.blueprinttwo-retirement:before {
    content: "\f12c";
}

.blueprinttwo-school:before {
    content: "\f12d";
}

.blueprinttwo-settings6:before {
    content: "\f12e";
}

.blueprinttwo-statistics:before {
    content: "\f12f";
}

.blueprinttwo-stats9:before {
    content: "\f130";
}

.blueprinttwo-summer44:before {
    content: "\f131";
}

.blueprinttwo-three:before {
    content: "\f132";
}

.blueprinttwo-turn20:before {
    content: "\f133";
}

.blueprinttwo-us:before {
    content: "\f134";
}

.blueprinttwo-worker37:before {
    content: "\f135";
}