h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Oswald', sans-serif !important;
    line-height: 1.4 !important;
}

.font-w200 {
	font-weight: 200 !important;
}
.font-w300 {
	font-weight: 300 !important;
}
.font-w400 {
	font-weight: 400 !important;
}
.font-w500 {
	font-weight: 500 !important;
}
.font-w600 {
	font-weight: 600 !important;
}
.font-w700 {
	font-weight: 700 !important;
}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

.swal-modal {
    border-radius: 0px !important;
}
.swal-title {
    font-weight: 400 !important;
    font-size: 20px !important;
}
.swal-footer {
    text-align: center !important;
}
.swal-button {
    background-color: #5790d4 !important;
    border-radius: 0px !important;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.7);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.7);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.7);
}

.box-shadow-two {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
}

.width-height-b25:before {
    width: 25px !important;
    height: 25px !important;
}

.width-height-b50:before {
    width: 50px !important;
    height: 50px !important;
}

.loading-div {
    opacity: 0.75;
}

.lds-ring-2 {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring-2 div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #dfe2ea;
    border-radius: 50%;
    animation: lds-ring-2 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #dfe2ea transparent transparent transparent;
}
.lds-ring-2 div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring-2 div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring-2 div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.scroller-square .ps__rail-y .ps__thumb-y {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.scroller-80-height .ps__rail-y .ps__thumb-y {
    height: 80px !important;
}

.no-vertical-scroll thead,
.no-vertical-scroll tbody {
    overflow-y: hidden !important;
}

.StripeElement {
    width: 100%;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #263f6a !important;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
    box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
}
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #faf9fc;
}

.swal2-container.swal2-shown {
    background-color: rgba(0,0,0,.8);
}

.valign-middle td, .valign-middle th {
    vertical-align: middle;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
    margin: 0;
    padding: 15px 0;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: inherit !important;
}

div.specific_details h2, div.potential_savings h2 {
    font-size: 22px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.bg-gray-light {
    background-color: #f3f3f3;
}

.table-noborder td, .table-noborder th {
    border: none !important;
}

.shadow-bottom {
    -webkit-box-shadow: 0 8px 8px -2px #cccccc;
    -moz-box-shadow: 0 8px 8px -2px #cccccc;
    box-shadow: 0 8px 8px -2px #cccccc;
}
table.valign-center tr td, table.valign-center tr th {
    vertical-align: middle !important;
}
.select2-container {
    width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057;
    background-color: #f3f3f3;
    border: 1px solid #ebedf2;
    height: calc(1.5em + 2.3rem + 2px);
    padding: 1.15rem 1.65rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    font-weight: 400;
}
.inactive-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.inactive-overlay p,
.inactive-overlay a,
.inactive-overlay i,
.inactive-overlay span,
.inactive-overlay .kt-portlet__body {
    opacity: 0.5;
    color: transparent !important;
    text-shadow: 0 0 10px white;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.custom-modal-overlay {
    z-index: 9999;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .7);
    overflow: auto;
}

.custom-modal-overlay:target {
    visibility: visible;
}

.custom-modal {
    position: relative;
    width: 100%;
    max-width: 90%;
    background: white;
    border-radius: 8px;
    padding: 1em 2em;
}

.custom-modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: grey;
    text-decoration: none;
}

.custom-modal .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
}

.vdp-datepicker__calendar .cell.selected:hover,
.vdp-datepicker__calendar .cell.selected {
    background: #6239bd !important;
    color: white !important;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border: 1px solid #6239bd !important;
}

.vc-title-wrapper, .vc-title-wrapper div {
    pointer-events: none;
}

.vc-container {
    font-family: Oswald !important;
}

.vc-text-sm, .vc-text-lg {
    font-size: 20px !important;
}

.vc-reset:focus, .vc-reset :focus {
    border-radius: 0 !important;
    background: #6239bd !important;
}

.kt-wizard-v2 .kt-wizard-v2__aside .kt-wizard-v2__nav .kt-wizard-v2__nav-items .kt-wizard-v2__nav-item[data-ktwizard-state="current"] .kt-wizard-v2__nav-icon {
    color: #6239bd !important;
}

.swal2-icon.swal2-error {
    border-color: #6239bd !important;
}

.swal2-styled.swal2-confirm,
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    background-color: #6239bd !important;
}
