/* latin-ext */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 300;
    src: local('Libre Franklin Light Italic'), local('LibreFranklin-LightItalic'), url(/fonts/librefranklin/v2/jizGREVItHgc8qDIbSTKq4XkRiUa454xm1fpjeOg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 300;
    src: local('Libre Franklin Light Italic'), local('LibreFranklin-LightItalic'), url(/fonts/librefranklin/v2/jizGREVItHgc8qDIbSTKq4XkRiUa454xm1npjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Franklin Italic'), local('LibreFranklin-Italic'), url(/fonts/librefranklin/v2/jizBREVItHgc8qDIbSTKq4XkRiUa6zsTjmbI.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Franklin Italic'), local('LibreFranklin-Italic'), url(/fonts/librefranklin/v2/jizBREVItHgc8qDIbSTKq4XkRiUa6zUTjg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 500;
    src: local('Libre Franklin Medium Italic'), local('LibreFranklin-MediumItalic'), url(/fonts/librefranklin/v2/jizGREVItHgc8qDIbSTKq4XkRiUa48Ywm1fpjeOg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 500;
    src: local('Libre Franklin Medium Italic'), local('LibreFranklin-MediumItalic'), url(/fonts/librefranklin/v2/jizGREVItHgc8qDIbSTKq4XkRiUa48Ywm1npjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 600;
    src: local('Libre Franklin SemiBold Italic'), local('LibreFranklin-SemiBoldItalic'), url(/fonts/librefranklin/v2/jizGREVItHgc8qDIbSTKq4XkRiUa4-o3m1fpjeOg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 600;
    src: local('Libre Franklin SemiBold Italic'), local('LibreFranklin-SemiBoldItalic'), url(/fonts/librefranklin/v2/jizGREVItHgc8qDIbSTKq4XkRiUa4-o3m1npjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 700;
    src: local('Libre Franklin Bold Italic'), local('LibreFranklin-BoldItalic'), url(/fonts/librefranklin/v2/jizGREVItHgc8qDIbSTKq4XkRiUa4442m1fpjeOg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 700;
    src: local('Libre Franklin Bold Italic'), local('LibreFranklin-BoldItalic'), url(/fonts/librefranklin/v2/jizGREVItHgc8qDIbSTKq4XkRiUa4442m1npjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 300;
    src: local('Libre Franklin Light'), local('LibreFranklin-Light'), url(/fonts/librefranklin/v2/jizAREVItHgc8qDIbSTKq4XkRi20-SI6q1vxiQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 300;
    src: local('Libre Franklin Light'), local('LibreFranklin-Light'), url(/fonts/librefranklin/v2/jizAREVItHgc8qDIbSTKq4XkRi20-SI0q1s.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Franklin'), local('LibreFranklin-Regular'), url(/fonts/librefranklin/v2/jizDREVItHgc8qDIbSTKq4XkRiUR2zcLig.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Franklin'), local('LibreFranklin-Regular'), url(/fonts/librefranklin/v2/jizDREVItHgc8qDIbSTKq4XkRiUf2zc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    src: local('Libre Franklin Medium'), local('LibreFranklin-Medium'), url(/fonts/librefranklin/v2/jizAREVItHgc8qDIbSTKq4XkRi3s-CI6q1vxiQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    src: local('Libre Franklin Medium'), local('LibreFranklin-Medium'), url(/fonts/librefranklin/v2/jizAREVItHgc8qDIbSTKq4XkRi3s-CI0q1s.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 600;
    src: local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'), url(/fonts/librefranklin/v2/jizAREVItHgc8qDIbSTKq4XkRi3A_yI6q1vxiQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 600;
    src: local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'), url(/fonts/librefranklin/v2/jizAREVItHgc8qDIbSTKq4XkRi3A_yI0q1s.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'), url(/fonts/librefranklin/v2/jizAREVItHgc8qDIbSTKq4XkRi2k_iI6q1vxiQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'), url(/fonts/librefranklin/v2/jizAREVItHgc8qDIbSTKq4XkRi2k_iI0q1s.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
