/*
  Flaticon icon font: Flaticon
  Creation date: 29/08/2018 04:39
  */

@font-face {
    font-family: "Flaticon";
    src: url("/fonts/flaticon/Flaticon.eot");
    src: url("/fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("/fonts/flaticon/Flaticon.woff") format("woff"),
    url("/fonts/flaticon/Flaticon.ttf") format("truetype"),
    url("/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    font-family: Flaticon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}

.flaticon-resume-and-cv:before { content: "\f100"; }
.flaticon-price:before { content: "\f101"; }
.flaticon-pay:before { content: "\f102"; }
.flaticon-mail:before { content: "\f103"; }
.flaticon-task:before { content: "\f104"; }
.flaticon-parents:before { content: "\f105"; }
.flaticon-money:before { content: "\f106"; }
.flaticon-worker:before { content: "\f107"; }
.flaticon-give-money:before { content: "\f108"; }
.flaticon-business-and-finance:before { content: "\f109"; }
.flaticon-3d:before { content: "\f10a"; }
.flaticon-dot:before { content: "\f10b"; }
.flaticon-dashboard:before { content: "\f10c"; }
.flaticon-business-and-finance-1:before { content: "\f10d"; }
.flaticon-familiar:before { content: "\f10e"; }
.flaticon-payment:before { content: "\f10f"; }
.flaticon-diamond:before { content: "\f110"; }
.flaticon-wife:before { content: "\f111"; }
.flaticon-send:before { content: "\f112"; }
.flaticon-questionnaire:before { content: "\f113"; }
.flaticon-tools-and-utensils:before { content: "\f114"; }
.flaticon-graduate-cap:before { content: "\f115"; }
.flaticon-monument:before { content: "\f116"; }
.flaticon-school:before { content: "\f117"; }