
body .nomarginall {
	margin: 0 !important;
}
body .nopaddingall {
	padding: 0 !important;
}
body .nomargintop {
	margin-top: 0 !important;
}
body .nomarginbottom {
	margin-bottom: 0 !important;
}
body .nomarginleft {
	margin-left: 0 !important;
}
body .nomarginright {
	margin-right: 0 !important;
}
body .nopaddingtop {
	padding-top: 0 !important;
}
body .nopaddingbottom {
	padding-bottom: 0 !important;
}
body .nopaddingleft {
	padding-left: 0 !important;
}
body .nopaddingright {
	padding-right: 0 !important;
}

body .nomarginall, body .rt-block.nomarginall, body ul.nomarginall, body li.nomarginall {
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
body .nopaddingall, body .rt-block.nopaddingall, body ul.nopaddingall, body li.nopaddingall {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
body .nomargintop, body .rt-block.nomargintop, body ul.nomargintop, body li.nomargintop {
	margin-top: 0 !important;
}
body .nomarginbottom, body .rt-block.nomarginbottom, body ul.nomarginbottom, body li.nomarginbottom {
	margin-bottom: 0 !important;
}
body .nomarginleft, body .rt-block.nomarginleft, body ul.nomarginleft, body li.nomarginleft {
	margin-left: 0 !important;
}
body .nomarginright, body .rt-block.nomarginright, body ul.nomarginright, body li.nomarginright {
	margin-right: 0 !important;
}
body .nopaddingtop, body .rt-block.nopaddingtop, body ul.nopaddingtop, body li.nopaddingtop {
	padding-top: 0 !important;
}
body .nopaddingbottom, body .rt-block.nopaddingbottom, body ul.nopaddingbottom, body li.nopaddingbottom {
	padding-bottom: 0 !important;
}
body .nopaddingleft, body .rt-block.nopaddingleft, body ul.nopaddingleft, body li.nopaddingleft {
	padding-left: 0 !important;
}
body .nopaddingright, body .rt-block.nopaddingright, body ul.nopaddingright, body li.nopaddingright {
	padding-right: 0 !important;
}
body .smallmarginbottom {
	margin-bottom: 5px !important;
}
body .smallmargintop {
	margin-top: 5px !important;
}
body .smallmarginleft {
	margin-left: 5px !important;
}
body .smallmarginright {
	margin-right: 5px !important;
}
body .smallmarginall {
	margin: 5px !important;
}
body .medmarginbottom {
	margin-bottom: 10px !important;
}
body .medmargintop {
	margin-top: 10px !important;
}
body .medmarginleft {
	margin-left: 10px !important;
}
body .medmarginright {
	margin-right: 10px !important;
}
body .medmarginall {
	margin: 10px !important;
}
body .largemarginbottom {
	margin-bottom: 15px !important;
}
body .largemargintop {
	margin-top: 15px !important;
}
body .largemarginleft {
	margin-left: 15px !important;
}
body .largemarginright {
	margin-right: 15px !important;
}
body .largemarginall {
	margin: 15px !important;
}
body .smallpaddingbottom {
	padding-bottom: 5px !important;
}
body .smallpaddingtop {
	padding-top: 5px !important;
}
body .smallpaddingleft {
	padding-left: 5px !important;
}
body .smallpaddingright {
	padding-right: 5px !important;
}
body .smallpaddingall {
	padding: 5px !important;
}
body .medpaddingbottom {
	padding-bottom: 10px !important;
}
body .medpaddingtop {
	padding-top: 10px !important;
}
body .medpaddingleft {
	padding-left: 10px !important;
}
body .medpaddingright {
	padding-right: 10px !important;
}
body .medpaddingall {
	padding: 10px !important;
}
body .largepaddingbottom {
	padding-bottom: 15px !important;
}
body .largepaddingtop {
	padding-top: 15px !important;
}
body .largepaddingleft {
	padding-left: 15px !important;
}
body .largepaddingright {
	padding-right: 15px !important;
}
body .largepaddingall {
	padding: 15px !important;
}
body .subsmallmarginbottom {
	margin-bottom: -5px !important;
}
body .subsmallmargintop {
	margin-top: -5px !important;
}
body .subsmallmarginleft {
	margin-left: -5px !important;
}
body .subsmallmarginright {
	margin-right: -5px !important;
}
body .subsmallmarginall {
	margin: -5px !important;
}
body .submedmarginbottom {
	margin-bottom: -10px !important;
}
body .submedmargintop {
	margin-top: -10px !important;
}
body .submedmarginleft {
	margin-left: -10px !important;
}
body .submedmarginright {
	margin-right: -10px !important;
}
body .submedmarginall {
	margin: -10px !important;
}
body .sublargemarginbottom {
	margin-bottom: -15px !important;
}
body .sublargemargintop {
	margin-top: -15px !important;
}
body .sublargemarginleft {
	margin-left: -15px !important;
}
body .sublargemarginright {
	margin-right: -15px !important;
}
body .sublargemarginall {
	margin: -15px !important;
}

@media (min-width: 1200px) {

  .text-right-lg {
    text-align: right !important;
  }

  .text-left-lg {
    text-align: left !important;
  }

}

@media (max-width: 1200px) {

body .medmargintop-xs {
		margin-top: 10px;
	}

}