    /*
    Flaticon icon font: Flaticon
    Creation date: 14/05/2019 00:42
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-resume-and-cv:before { content: "\f100"; }
.flaticon-price:before { content: "\f101"; }
.flaticon-pay:before { content: "\f102"; }
.flaticon-mail:before { content: "\f103"; }
.flaticon-task:before { content: "\f104"; }
.flaticon-parents:before { content: "\f105"; }
.flaticon-money:before { content: "\f106"; }
.flaticon-worker:before { content: "\f107"; }
.flaticon-give-money:before { content: "\f108"; }
.flaticon-business-and-finance:before { content: "\f109"; }
.flaticon-3d:before { content: "\f10a"; }
.flaticon-dot:before { content: "\f10b"; }
.flaticon-dashboard:before { content: "\f10c"; }
.flaticon-business-and-finance-1:before { content: "\f10d"; }
.flaticon-familiar:before { content: "\f10e"; }
.flaticon-payment:before { content: "\f10f"; }
.flaticon-diamond:before { content: "\f110"; }
.flaticon-wife:before { content: "\f111"; }
.flaticon-send:before { content: "\f112"; }
.flaticon-questionnaire:before { content: "\f113"; }
.flaticon-tools-and-utensils:before { content: "\f114"; }
.flaticon-graduate-cap:before { content: "\f115"; }
.flaticon-monument:before { content: "\f116"; }
.flaticon-school:before { content: "\f117"; }
    
    $font-Flaticon-resume-and-cv: "\f100";
    $font-Flaticon-price: "\f101";
    $font-Flaticon-pay: "\f102";
    $font-Flaticon-mail: "\f103";
    $font-Flaticon-task: "\f104";
    $font-Flaticon-parents: "\f105";
    $font-Flaticon-money: "\f106";
    $font-Flaticon-worker: "\f107";
    $font-Flaticon-give-money: "\f108";
    $font-Flaticon-business-and-finance: "\f109";
    $font-Flaticon-3d: "\f10a";
    $font-Flaticon-dot: "\f10b";
    $font-Flaticon-dashboard: "\f10c";
    $font-Flaticon-business-and-finance-1: "\f10d";
    $font-Flaticon-familiar: "\f10e";
    $font-Flaticon-payment: "\f10f";
    $font-Flaticon-diamond: "\f110";
    $font-Flaticon-wife: "\f111";
    $font-Flaticon-send: "\f112";
    $font-Flaticon-questionnaire: "\f113";
    $font-Flaticon-tools-and-utensils: "\f114";
    $font-Flaticon-graduate-cap: "\f115";
    $font-Flaticon-monument: "\f116";
    $font-Flaticon-school: "\f117";