	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/05/2019 00:42
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-resume-and-cv:before { content: "\f100"; }
.flaticon-price:before { content: "\f101"; }
.flaticon-pay:before { content: "\f102"; }
.flaticon-mail:before { content: "\f103"; }
.flaticon-task:before { content: "\f104"; }
.flaticon-parents:before { content: "\f105"; }
.flaticon-money:before { content: "\f106"; }
.flaticon-worker:before { content: "\f107"; }
.flaticon-give-money:before { content: "\f108"; }
.flaticon-business-and-finance:before { content: "\f109"; }
.flaticon-3d:before { content: "\f10a"; }
.flaticon-dot:before { content: "\f10b"; }
.flaticon-dashboard:before { content: "\f10c"; }
.flaticon-business-and-finance-1:before { content: "\f10d"; }
.flaticon-familiar:before { content: "\f10e"; }
.flaticon-payment:before { content: "\f10f"; }
.flaticon-diamond:before { content: "\f110"; }
.flaticon-wife:before { content: "\f111"; }
.flaticon-send:before { content: "\f112"; }
.flaticon-questionnaire:before { content: "\f113"; }
.flaticon-tools-and-utensils:before { content: "\f114"; }
.flaticon-graduate-cap:before { content: "\f115"; }
.flaticon-monument:before { content: "\f116"; }
.flaticon-school:before { content: "\f117"; }